h3, p{
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#ex1{
    background-color: #f4f5ff;
    width: 382px;
    margin: auto;
    padding: 20px;
}
.container{
    position: relative;
    height: 500px;
}
.container section{
    position: absolute;
    width: 162px;
}
.container .Top-left{
    left: 0;
    top: 0;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .Top-right{
    right: 0;
    top: 0;
}
.container .Bottom-left{
    left: 0;
    bottom: 0;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .Bottom-right{
    right: 0;
    bottom: 0;
}
.container section h3 a{
    color: black;
    padding-bottom: 10px;
    display: inline-block;
}
.container section p{
    margin-top: 10px;
    font-size: 18px;
}
.container hr{
    position: relative;
    top: 250px;
}

