h3 , p{
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#ex2{
    background-color: #f4f5ff;
    width: 830px;
    margin: auto;
    padding: 20px;
}
.container{
    position: relative;
    height: 500px;
}
.container section{
    position: absolute;
    width: 162px;
}
.container .top{
    top: 0;
}
.container .top-1{
    left: 0;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .top-2{
    left: 222px;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .top-3{
    left: 444px;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .top-4{
    left: 666px;
}
.container .bottom{
    position: relative;
    top: 250px;
}
.container .bottom-1{
    left: 0;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .bottom-2{
    left: 222px;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .bottom-3{
    left: 444px;
    padding-right: 30px;
    border-right: 1px solid;
}
.container .bottom-4{
    left: 666px;
}
.container section h3 a{
    color: black;
    padding-bottom: 10px;
    display: inline-block;
}
.container section p{
    margin-top: 10px;
    font-size: 18px;
}
.container hr{
    position: relative;
    top: 240px;
}


